<div class="row">
  <div class="col-sm-6">

    <div class="well">

      <h3 class="text text-center text-muted" style="margin-top: 10px;margin-bottom: 20px;">上传预览</h3>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <text class="lead">新增立项数据</text>
        </div>
        <div class="panel-body">
          <%= render "homes/project_table", :project_dbs => @project_dbs %>
        </div>
      </div>

    </div>

  </div>

  <div class="col-sm-6">
    <%=render "shared/excel_list",:excels=> @project_excels,:new_excel=>@project_excel,:path=> project_excels_path%>
  </div>
</div>

