<% if request.xhr? %>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong> <%= message %></strong>
        </div>
    <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-database fa-fw"></i> 立项数据
  </div>
  <div class="panel-body" style="min-height: 600px">
    <%= render "shared/excel_list", :excels => @project_excels, :new_excel => ProjectExcel.new, :path => project_excels_path %>
  </div>
</div>
