<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-truck fa-fw"></i> 出库明细
  </div>
  <div class="panel-body" style="min-height: 600px">
    <%= render "shared/excel_list", :excels => @stock_excels, :new_excel => StockExcel.new, :path => stock_excels_path %>
  </div>
</div>



