<%#
Locals:
* search: Event::Search object
* section: Symbol of section of grouped events to display, e.g. :current
%>
<!--section在这里并不是传入参量,因为search.gourped_events返回的是一个hash表,所以这里是表示引用键值为:current或者:past里的event对象-->
<% events = search.grouped_events[section] %>

<h3>Viewing <strong> <%= pluralize events.size, "#{section} event" %></strong>
  matching <strong>&ldquo;<%= search.query || search.tag %>&rdquo;</strong>
  <%= events_sort_label(search.order) %></h3>

<!--locals的作用是让partial里的events和scores能表示现在的events和search.query.present? && Calagator::Event::SearchEngine.score?-->

<div>
  <%= render partial: 'table', locals: {events: events, scores: search.query.present? && Event::SearchEngine.score?} %>
</div>
