<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-bars fa-fw"></i> 遴选信息</div>
      <div class="panel-body" style="min-height:320px;max-height: 320px;overflow: scroll; padding-top: 5px ;">
        <%= render "supplier_table", :supplier_dbs => @supplier_dbs, :supplier_labels => @supplier_labels %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-database fa-fw"></i> 新增立项数据</div>
      <div class="panel-body" style="min-height:320px;max-height: 320px;overflow-y: scroll;">
        <%= render "project_table", :project_dbs => @project_dbs %>
      </div>
    </div>
  </div>
</div>

<% if current_visit || current_user %>
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-cubes fa-fw"></i> 库存展示</div>
      <div class="panel-body" style="min-height:500px;max-height: 500px;overflow: scroll;">
        <%= render "repertory_table", :repertory_dbs => @repertory_dbs %>
      </div>
    </div>
<% end %>

<script type="application/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "4000",
        "extendedTimeOut": "1000",
        "showMethod": "slideDown",
        "showEasing": "swing",
        "hideEasing": "linear",
        "hideMethod": "slideUp"
    };

    $.ajax({
        url: "/homes/get_warnings",
        dataType: "json",
        success: function (data) {
            $.each(data, function (index, value) {
                setTimeout(function () {
                    toastr.options.onclick = function () {
                        location.href = "<%= warning_repertory_dbs_path%>";
                    };
                    toastr["error"]("库存数量：" + value.num + "，需要：" + value.warning, value.name)
                }, index * 1000);
            })

        }
    })


</script>

