<!--style="white-space: nowrap;overflow: hidden;"-->
<table class='table table-responsive table-condensed table-hover'>

  <tr>
    <th>名称</th>
    <th>规格</th>
    <th>库存数量</th>
  </tr>

  <tbody>
  <% repertory_dbs.each do |db| %>
      <tr>
        <td>
          <%= truncate(db.name,length: 25) %>
        </td>
        <td>
          <%= truncate(db.standard,length: 10) %>
        </td>
        <td>
          <%= db.num%>
        </td>
      </tr>
  <% end %>
  </tbody>


</table>

<%= will_paginate repertory_dbs, :param_name => 'repertory_page',
                  :previous_label => t("前一页"), :next_label => t("后一页"), :inner_window => 1 %>


