/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'homes';
@import 'tabel_db';
@import 'metisMenu.min';
@import 'morris.scss';
@import 'sb-admin-2.min.scss';
@import 'font-awesome';
@import 'spinkit';
@import 'toastr.min';

.table {
  margin-bottom: 10px;
}

//.table-striped > tbody > tr:hover >td.has_hover {
//  background-color: #C0C0C0;
//}

//.dropdown-menu {
//  min-width: 0px !important;
//}

//footer {
//  background-color: #2E2F30;
//  color: white;
//  padding: 10px;
//}

//body{
//background-image: image-url("background.jpg");
//background-color: ghostwhite;
//background-repeat: no-repeat;
//background-size: 100% 100%;
//}

//body {
//  padding-top: 50px;
//  padding-bottom: 50px;
//}

//html {
//  height: 100%;
//}

//.navbar-header > a > img {
//  padding-top:10px
//}

//.navbar-inverse .navbar-nav>li>a {
//  color: white;
//}

//.navbar-inverse .navbar-header>a {
//  color: white;
//}

//.nav >li>a {
//  padding-top:20px
//}

//.navbar-text{
//  padding-top:5px
//}

.button_to {
  display: inline;
}

.verticalLine {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
}

.navbar-static-top {
  background: #438eb9;
}

.navbar-top-links li a {
  color: white;
}

.navbar-top-links li a:hover {
  background: #59b5fa;
}

.navbar-top-links li a:focus {
  background: #59b5fa;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background: #59b5fa !important;
}

.dropdown-toggle:visited, .open .dropdown-toggle {
  background: #59b5fa !important;
}

#side-menu li a {
  color: #585858;
}

.form-inline div {
  margin-top: 10px;
  margin-right: 10px
}

//filter
#filter-button {
  margin-top: 10px;
  margin-right: 5px
}

#filter-link {
  margin-top: 10px
}

.filter-panel {
  margin-left: 20px;
  margin-right: 20px
}

//#small-table {
//  table-layout: fixed;
//}

#small-table tbody td {
  font-size: 12px;
  overflow: hidden;
}

#small-table thead th {
  font-size: 13px;
  overflow: hidden;
}

//spinner

.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  background: #1abc9c;
}

.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  background: #1abc9c;
}

.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: #1abc9c;
}

.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background: #1abc9c;
}

.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: #1abc9c;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}










