<div class="panel panel-default">
  <div class="panel-heading">
    遴选信息-数据管理
  </div>
  <div class="panel-body" style="min-height: 600px">
    <%= render "shared/excel_list", :excels => @supplier_excels, :new_excel => SupplierExcel.new, :path => supplier_excels_path %>
  </div>
</div>
