<div class="row">
  <div class="col-sm-6">

    <div class="well">

      <h3 class="text text-center text-muted" style="margin-top: 10px;margin-bottom: 20px;">上传预览</h3>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <text class="lead">供应商展示</text>
        </div>
        <div class="panel-body">
          <%= render "homes/supplier_table", :supplier_dbs => @supplier_dbs %>
        </div>
      </div>
    </div>

  </div>


  <div class="col-sm-6">

    <%=render "shared/excel_list",:excels=> @supplier_excels,:new_excel=>@supplier_excel,:path=> supplier_excels_path%>

  </div>
</div>


