<div class="form-group">
  <%= label_tag "Zip code", nil, class: "control-label col-sm-2" %>
  <div class="col-sm-6">
    <%= f.text_field :postal_code, class: "form-control", id: "title", placeholder: "Enter Zip code" %>
  </div>
</div>